
.imagen{
    width: 50%;
    border: 0;
    padding: 10px;
    color: #37393b;
    font-size: 10px;
}



.navigation button:hover,
.navigation button:active,
.navigation button:focus {
    background: #666869;
}

.list{
   
    z-index: 1;
    border: 50;
    background: #B2B2B2;
    max-width: 250px;
    padding: 25px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    border: 0;
    padding: 10px;
    color: #37393b;
    font-size: 14px;
    
    
    
}