<ul>
    <li class="list">

        <img [src]="image" class="imagen">
        <div class="texto">
            <p class="userText">User:</p>
            <p class="userName">{{nombre}}</p>
            <p class="userText">Id:</p>
            <p class="userId">{{uid}}</p>
        </div>
    </li>


    <li class="list">
        <button>
            <a href="#">
                <span class="icon">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAAtklEQVRYhe2U0QqDMAxFD2Pf4Mp+cX7umNvX1Ie1kMlsa030JRcCUmnOaR4Cnn0ZUp2SALxShaPhN+AJxFQf4H4UPABTAk+Lb/NJyJe/+b56EGemk/gHzzGXKMHNJVrgZhJb4OoSPXA1iT3w3RIa8G4JuWQiOosliH7FZbVcr1EBniN7rk5iFJYlgVip0p3ce1wzffA7Mm2BkBjVtDTTuMOlxcYyLuACLnCt/O9Zx5vunD4Bj2cGlEVujR4/xIsAAAAASUVORK5CYII=">
                </span>
                <span class="tittle"><a href="#">Home</a></span>

            </a>
        </button>

    </li>

    <li class="list">
        <button>
            <a href="#">
                <span class="icon">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAABmUlEQVRYhe2WzUrDQBSFv7pQxAoKWh9Bt6LoslbElWhbFV9DRSnqSrvyZ6ErfQp/36O6VWrxASpolUK1bVzMDYFI4ySZLIQcuARmzj3nJnPvEIgR4x8iBRSBe+BTogQcAMNRm68ANcDqEO9APkrzthhdAWmgT2IGuJa9FpAzbZ7CefNtD15BOG/AkMkCijhv/hduhbtvsoAHEU1rcDPCLZks4ENEkxrcfuHWdIS7NAtoavIAEn5ydAuoyHNSg2tznk0WcCnPdQ3uhivHCEaAV9TZFjx4O8KpokbXKHKoc7VQo5ZBNWUSmAXuZK8JZE2b21hG3XSdruKWcCLBIlD2MLejDCyYNE4Axy6TF2AU6JUYkzV7vw0c4oxkKJyI6Dewi9OMp6jmHAHOcJpvT7gWcBTWPCtCX8CcrOWBBr8/fQOn+eYlxwKWgpr34HzWTdfeNGoSqhI3wJSLsyW5FaA7SAFrIvBIsLNMAE+isdqJ5HUT2j8V5yLiFxZw4dLyhYqIjAdJFkzgjKZv1CV5IEQBg6JRD6ERI0a0+AG51oK4HStRGQAAAABJRU5ErkJggg==">
                </span>
                <span class="tittle">Profile</span>

            </a>

        </button>

    </li>



    <li class="list active">
        <button>
            <a href="#">
                <span class="icon">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABpklEQVRIieWVP0sDQRDFf1FTiMbGMqYQjJAQIjbRxsJvEJtYprcQP4XpjQiiiG0Q04goKEgQTOkHsLDTRsUEE5SoZ7Ev5HKXPxtLHRj29t2b2Zu3u3PwX2wDcDy+bhM4ZLnAvCX2K4sD95ivXpA7wuKDJgsAJaAIZIBt4FsJG8CovCHsS5yMYkr0USWLX+t3YAuIuXgxIK93Xn62W/Jx4EGkPaAM3AHJHh+UFKesGEc5Qp3Imy5CUNiwxlmMBFX5MRDVu6YkQeBROXKdFlgBaiKcqaJm8hf8UjwBYVf158JrQLpbySmgLmJCWFHzEyWcAk6FFcRJaF5Xjp72JvKY5lXNwy5ORNirqwJHsW1mc9EcjQELrs+8C6Rc2LTGS427GHkiega48HCH6CFRms6bHMVsqHeTn4EZcaw2OYf/mDarCWM2tCI/ciW3PqYhBr9oc+LcAPv0uWjQvVXkaW8VcUwP+ujAb2sV3pMRAK4w+haAJWANI8MnMCFOBRjBNMId4BpYBSaBZVonz8pitLfrRVrtOtYjbiA7xC/FgU2g7R/t1hL7g/YD2UKR7bWwmaIAAAAASUVORK5CYII=">
                </span>
                <span class="tittle">Settings</span>

            </a>

        </button>

    </li>

    <li class="list">
        <button>
            <a href="#">
                <span class="icon">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAyElEQVRIie2UTQrCMBSEP1xpoTmD3sa6qGfRHlFcVLeKe+MJ1HV14QukkNQkFfzBgaEkmTeTn/LgA5ABFbABrsIaWAKjvuYT4ADcPNwD41TzzDLfASWQC0sxN2vDlIDKMlCOdWWFLFICtlJcdmjmoqlTAi5SnHdolGjOKQHmIXvpBo65GaAdBj4aaKAI2BA6wNTHY0hA6NUE1bmu6KX4/YA1sIoYRwc0tB/u2TgI/7/o/QEn+ca2CWj3MC8KHj0lpQ9NIw73JbgDtIVr7IK7AL4AAAAASUVORK5CYII=">
                </span>
                <span class="tittle">Password</span>

            </a>
        </button>

    </li>

    <li class="list">
        <button>
            <a href="#">
                <span class="icon">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAABfklEQVRIie3WPU8UURTG8R92iJQisKwKGuW78GIL+BHEwvhpBI2dkA0kVrQaKEyECk2MfgGIEAh2y65Zi3vJUAjzulPxJLeY5Mzzv/fOOWcON6pJAzlim3iGGTyMzwM4xj4+4wMOqtpcA6voopeyzvEeo2Wh8/gTTdtYxwKeYgiDmMQiWhHcwykeFIW+xN9o1IqANE3iI34XBc9HaBevihgUUUNyvbVB4a3kemtTU7jetmzf9DptYw8jWYKXhdOul4TC1+j1LQt8KwYvVgAeidBM8F8x8HEFYLgrdLUefmDsqsCLbB5OMdyR3sX+t/YuDG4VOkcf9FPY2ZOK/DJfdb+S67uU5HqhunLalaOcJtARGshUSfAXORoIrAg73SgJzq1xSVm9rhs+J/kt1g5flgwCm3iU4Z0pYRA4UmICgVmcSUafFpYwjTu4HTf0XMiJTow9wf0yYELRv7lket1q4x3upZnmGW8bwkg0K/yrm0LLPRK60yes4TCH5436r38L/oAx+I6U8gAAAABJRU5ErkJggg==">
                </span>
                <span class="tittle">Sign out</span>

            </a>

        </button>

    </li>


</ul>